---
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";

const blogs = await Astro.glob<{
	poster: string;
	title: string;
	subtitle: string;
}>("../pages/blogs/*.md");

const config = {
	title: "Blog",
	gradientFrom: "#9333ea",
	gradientTo: "#d8b4fe"
}
---


<Main title={config.title}>

	<Header {...config} />

    <div class="featured-blogs">
        <h3 class="featured-blogs__title">Featured Blogs</h3>
        <p class="featured-blogs__description">
            Opinion pieces that will change everything you know about web development.
        </p>
    </div>

    <ol class="blogs">
        {
            blogs.map((blog) => (
                <li class="blogs__list">
                    <a href={blog.url} class="blog__link">
                        {blog.frontmatter.title}
                    </a>
                </li>
            ))
        }
    </ol>
</Main>

<style>
.featured-blogs {
	margin: 0;
	padding: 3rem 0 0 0;
}

.featured-blogs__title {
	font-size: 2rem;
	color: var(--gray-900);
}

.featured-blogs__description {
	margin-top: -1.2rem;
}

.blogs {
	font-size: 1rem;
	font-weight: 500;
}

.blogs__list {
	border-bottom: 1px solid;
	border-color: var(--gray-200);
}

.blog__link {
	opacity: 1;
	height: 100%;
	display: block;
	padding: 1rem 0;
	color: var(--gray-200);
	text-decoration: none;
	transition: opacity .2s ease-in-out;

	&:hover {
		opacity: .7;
	}
}
</style>