---
import Main from "@layouts/Main.astro";
import Cards from "@components/Cards.astro";
import Profile from "@components/Profile.astro";
import Header from "@components/Header.astro";

const title = "Frau Katarina";
---
<Main {title}>
	
	<Header {title} gradientFrom="#818cf8" gradientTo="#6ee7b7" />

	<hr>

	<Cards
		cards={[
			{
				title: "Here are my guiding philosophies for life",
				gradientFrom: "#818cf8",
				gradientTo: "#d8b4fe",
				to: "/philosophies",
			},
			{
				title: "A summary of my work history",
				gradientFrom: "#d8b4fe",
				gradientTo: "#6ee7b7",
				to: "/work-summary",
			},
			{
				title: "What I do beyond technology",
				gradientFrom: "#6ee7b7",
				gradientTo: "#9333ea",
				to: "/beyond-tech",
			},
			{
				title: "What I do beyond technology",
				gradientFrom: "#6ee7b7",
				gradientTo: "#9333ea",
				to: "/beyond-tech",
			},
			{
				title: "What I do beyond technology",
				gradientFrom: "#6ee7b7",
				gradientTo: "#9333ea",
				to: "/beyond-tech",
			},
			{
				title: "What I do beyond technology",
				gradientFrom: "#6ee7b7",
				gradientTo: "#9333ea",
				to: "/beyond-tech",
			},
		]}
	/>

	<hr>

	<Profile />

</Main>