---
// Import the Card component
import Card from "./Card.astro";
// Import Card Props type
import type { Props as CardProp } from "./Card.astro";

// Define the Props for this component
type Props = {
    cards: CardProp[]; // Accepts an array of CardProps
};

// Retrieve the cards prop
const { cards } = Astro.props;
---

<div class="cards">
    <!-- Dynamically render multiple Card components and spread the required card props -->
    {cards.map((card) => <Card {...card} />)}
</div>

<style>
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        flex-wrap: wrap;
    }

    /* Since this is standard CSS, we can have media queries here */
    @media screen and (min-width: 768px) {
        .cards {
            flex-direction: row;
        }
    }
</style>